@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* UNIVERSAL */

html,
body {
height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: black;
/*  overflow: hidden;*/
}


* {
  font-family: 'Source Code Pro', monospace;
  color: #FFF;
 letter-spacing: 1px;
}

.visionblock {
	margin-left: auto;
    margin-right: auto;
	margin-top: 12px;
    width: 640px
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	-webkit-animation: fadein 2s;
}


.overviewlg {
	text-transform: uppercase;
}

.visions {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

.thought {
	color: forestgreen;
/*	-webkit-animation: test 4s;
	animation-iteration-count: infinite*/
}

/*@keyframes test {
	0% {opacity: 0.4;}
	25% {opacity: 0.6;}
	50% {opacity: 0.8;}
	75% {opacity: 1}
	100% {opacity: 0.8}

}*/

IMG.eyes {
	border: solid white 1px;
}

img.reflect {
	position: relative;
	float: right;
	top: 36px;
	right: 4px;
	z-index: 600;
}

.overview {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-left: auto;
    margin-right: auto;
    width: 640px
}


.overlay {
	text-align: left;
	z-index: 500;
	font-size: 1.4rem;
}


/*
.label {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	border-radius: 1px;
	padding: 0px 6px;
	line-height: 4rem;
	text-shadow: 1px 3px 2px red;
	background: rgba(220, 195, 37, 0.2);
}*/
.homenav{
	position: fixed;
    right:20px;
    top:30px;
	z-index: 600;
	/*float: right;	padding: 10px 60px;	z-index: 600;*/
}

.background {
	/*
	72 px is the height of the header, subtracting this means we dont get a vertical scrollbar
	*/
	height: calc(100% - 72px);
	background: url(http://s3.amazonaws.com/backdoored-io-images/wp-content/uploads/213.153.78.2372017-12-04T123622.035349.jpg) no-repeat;
	background-size: cover;
	overflow: hidden;

	padding: 60px;

	display: flex;
/*	align-items: start;*/
	align-items: initial;
}

.background img {
	flex: 1;
}
