@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro|Source+Code+Pro');

/* UNIVERSAL */

html,
body {
height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: black;
/*  overflow: hidden;*/
}


* {
  font-family: 'Source Code Pro', monospace;
  color: #FFF;
}


.overview {
	font-family: 'Playfair Display', serif;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 6px 60px;
}

.overviewlg {
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 400;
	color: #90e4f9;
}

.label {
  text-shadow: 1px 3px 2px red;
	text-transform: uppercase;
	text-align: center;
  font-size: 1.4rem;
	font-weight: 600;
	border-radius: 1px;
	padding: 0px 6px;
	line-height: 4rem;
	background: rgba(220, 195, 37, 0.2);
	letter-spacing: 4px;
}

.labeljoin {
  text-shadow: 1px 3px 2px red;
  font-size: 1.4rem;
}

.overlay {
	position: fixed;
	text-align: left;
	top: 135px;
	left: 60px;
	right: 60px;
	z-index: 600;
	font-size: 1.4rem;
}

.homenav{
	float: right;
	padding: 35px 20px;
  position:relative;
  z-index: 600;
}

.background {
	/*
	72 px is the height of the header, subtracting this means we dont get a vertical scrollbar
	*/
	height: calc(100% - 72px);
	/*background: url(http://s3.amazonaws.com/backdoored-io-images/wp-content/uploads/213.153.78.2372017-12-04T123622.035349.jpg) no-repeat;
	background-size: cover;*/
  width: 100%;
	overflow: hidden;
  position: absolute;


	display: flex;
/*	align-items: start;*/
	align-items: initial;
}

.background img {
	flex: 1;
}
